.aspect-ratio-box{
    height: 0;
    overflow: hidden;
    padding-top:calc(9 / 16 * 100%);
    position: relative;
  }
.aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
}

.news-component div{
  margin-bottom: 1rem;
}