<h1>FinApp</h1>

<p>
  <button (click)='login()' >Log in</button>
  <button (click)='logout()' *ngIf="isDoneLoading | async">Log out</button>
  <button (click)='deleteAccount()' *ngIf="isDoneLoading | async"> Delete Account </button>
</p>
<p>
  <button class="btn btn-warning mr-1" (click)='refresh()'>force silent refresh</button>
  <button class="btn btn-secondary mr-1" (click)='reload()'>reload page</button>
  <button class="btn btn-danger mr-1" (click)='clearStorage()'>clear storage</button>
  <button class="btn btn-danger mr-1" (click)='getData()'>get data</button>
</p>
<table class="table table-bordered table-sm table-props">
  <tr><th>IsAuthenticated</th><td><code>{{isAuthenticated | async}}</code></td></tr>
  <tr><th>HasValidToken</th><td><code>{{hasValidToken}}</code></td></tr>
  <tr><th>IsDoneLoading</th><td><code>{{isDoneLoading | async}}</code></td></tr>
  <tr><th>CanActivateProtectedRoutes</th><td><code>{{canActivateProtectedRoutes | async}}</code></td></tr>
  <tr><th>IdentityClaims</th><td class="pre"><code>{{identityClaims | json}}</code></td></tr>
  <tr><th>RefreshToken</th><td><code class="break-all">{{refreshToken}}</code></td></tr>
  <tr><th>AccessToken</th><td><code class="break-all">{{accessToken}}</code></td></tr>
  <tr><th>IdToken</th><td><code class="break-all">{{idToken}}</code></td></tr>
</table>
